{% include base_path %}

{% assign prev_url = page.prev_url %}
{% assign next_url = page.next_url %}
{% if page.prev_url == nil %}{% if page.previous %}{% assign prev_url = page.previous.url %}{% endif %}{% endif %}
{% if page.next_url == nil %}{% if page.next %}{% assign next_url = page.next.url %}{% endif %}{% endif %}

{% if prev_url or next_url %}
  <nav class="pagination">
    {% if prev_url %}
      <a href="{{ base_path }}{{ prev_url }}" class="pagination--pager">{{ site.data.ui-text[site.locale].pagination_previous | default: "Previous" }}</a>
    {% endif %}
    {% if next_url %}
      <a href="{{ base_path }}{{ next_url }}" class="pagination--pager">{{ site.data.ui-text[site.locale].pagination_next | default: "Next" }}</a>
    {% endif %}
  </nav>
{% endif %}
